<% if (typeof errorMsg !== 'undefined' && errorMsg) { %>
    <div class="flash flash-error"><%= errorMsg %></div>
<% } %>

<% if (typeof successMsg !== 'undefined' && successMsg) { %>
    <div class="flash flash-success"><%= successMsg %></div>
<% } %>
